
.formContainer {
    display: grid;
    place-items: center;
    width: 90%; 
    max-width: 400px; 
    padding: 25px;
    background-color: #161616;
    box-shadow: 0px 15px 60px #aaa2c2;
    outline: 1px solid #8558d9;
    border-radius: 10px;
    color: #ffffff;
    margin: 0 auto; 
    margin-top: 6rem;
    margin-bottom: 3rem;
  }
  
  .formTitle {
    text-align: center;
    font-size: 2rem; 
    margin-bottom: 1rem;
  }
  
  .form {
    width: 100%; 
  }
  
  .inputContainer {
    margin-bottom: 20px; 
  }
  
  .label {
    display: block;
    font-size: 14px; 
    margin-bottom: 5px;
  }
  
  .input,
  .textarea {
    width: 100%;
    padding: 10px;
    background: transparent;
    border: 1px solid #e3e3e3;
    border-radius: 8px;
    color: #4b1e85;
    font-size: 13.4px; 
  }
  
  .input:focus,
  .textarea:focus {
    outline: none;
    border-color: #2d145a;
  }
  
  .errorMessage {
    color: #ff0000; 
    font-size: 12px; 
    margin-top: 5px;
  }
  
  .submitButton {
    width: 100%;
    margin-top: 20px; 
    padding: 14px 13px 12px 13px;
    background-color: transparent;
    color: #4b1e85;
    font-weight: 600;
    font-size: 14px; 
    border: none;
    border-radius: 8px;
    outline: 1px solid #4b1e85;
    cursor: pointer;
    transition: all ease-in-out 0.3s;
  }
  
  .submitButton:hover {
    background-color: #4b1e85;
    color: #161616;
  }
  