/* .main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
} */

/* Estilos responsivos para dispositivos móviles */
/* @media (max-width: 700px) {
  .main {
    padding: 4rem;
  }
} */

/* Estilos para tablets y pantallas de escritorio pequeñas */
/* @media (min-width: 701px) and (max-width: 1120px) {
  .main {
    padding: 6rem;
  }
} */